services:
  postgres:
    image: postgres:17
    restart: always
    env_file: .env
    tty: true
    environment:
      - "POSTGRES_USER=${POSTGRES_USER}"
      - "POSTGRES_PASSWORD=${POST GRES_PASSWORD}"
      - "POSTGRES_DB=${POSTGRES_DB}"
    ports:
      - "${POSTGRES_EXPOSE_PORT}:${POSTGRES_PORT}"
    volumes:
      - ./.docker/postgres-db-data:/var/lib/postgresql/data
    networks:
      - internal_network

  postgres_ui:
    build:
      context: .
      dockerfile: Dockerfile
    image: meu-adminer-dracula
    restart: always
    env_file: .env
    tty: true
    ports:
      - "${ADMINER_EXPOSE_PORT}:${ADMINER_PORT}"
    networks:
      - internal_network
    depends_on:
      - postgres

networks:
  internal_network:
    driver: bridge